* {
  margin: 0;
  box-sizing: border-box;
}

.container-lg {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.allboxes {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  justify-content: center;
  height: 80vh;
  align-items: center; 
}

.allboxes input {
  min-width: 350px;
}


